body,
html {
  background-image: url("./resources/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  scroll-behavior: smooth;
}

.img-thumbnail {
  height: auto;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

* {
  /* border: 1px solid black; */
}

#intro {
  text-align: center;
}

.carousel-item .carousel-inner {
  height: 500px;
  background-size: cover;
  background-position: center center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  height: 100vh;
  border: 1px solid red;
}

svg {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
}
