body,
html {
  background-image: url("./resources/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  scroll-behavior: smooth;
}

.img-thumbnail {
  height: auto;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

* {
  /* border: 1px solid black; */
}

#intro {
  background-color: white;
}

#intro > p {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  font-family: Georgia, serif;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  height: 100vh;
  /* border: 1px solid red; */
}

h1,
h2 {
  font-family: "Bree Serif", serif;
  /* color: #302166; */
  margin-bottom: 30px;
}

a {
  color: black;
}

svg {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
}

/* hover effects: https://w3bits.com/css-image-hover-zoom/ */

.img-hover-zoom-colorize {
  height: auto;
  overflow: hidden;
  margin-top: 2em;
}

.img-hover-zoom-colorize img {
  transition: transform 0.5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

.img-hover-zoom-colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.projects > h2 {
  margin-top: 20px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-img-top {
  height: 20vh;
}

.contact-info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  /* border: 1px solid black; */
  height: 14vh;
  margin-top: 2em;
  font-size: 0.8rem;
  font-family: "Bree Serif", serif;
  opacity: 0.9;
  margin-bottom: 2em;
  background-color: #e2e2e2;
}

.contact-info > p {
  margin-bottom: 0;
}

.contact-info > :first-child {
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

.contact-info > :nth-child(2) {
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

.contact-info > :nth-child(3) {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
  align-self: center;
}

.contact-info > :nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  align-self: center;
}

.my-icons > a {
  margin-left: 10px;
}

.scroll-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
