body,
html {
  background-image: url("./resources/background.jpeg");
  height: 100%;
}

.img-thumbnail {
  height: auto;
}

/* .bg {
  height: 100%;
  background-size: cover;
} */

* {
  /* border: 1px solid black; */
}
